@font-face {
  font-weight: 400;
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-weight: 700;
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.ttf");
}
body {
  font-family: "Roboto";
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h6 {
  margin: 0;
}

button {
  background-color: transparent;
  border: none;
}

a {
  color: inherit;
  text-decoration: none;
}

section {
  margin-bottom: 100px;
}

button {
  padding: 0;
}

/* Header*/
.header {
  max-width: 1440px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 19px 40px 0;
  margin-bottom: 25px;
}

.header__logo {
  display: block;
  width: 124px;
  height: 24px;
}

.nav {
  max-width: 1100px;
  display: flex;
  align-items: center;
  gap: 118px;
  padding-bottom: 6px;
}
.nav-list {
  display: flex;
  list-style-type: none;
  gap: 46px;
  padding-bottom: 1px;
}
.nav-list__item {
  height: 24px;
}
.nav-list__link {
  font-size: 20px;
  line-height: 24px;
  color: #141414;
  text-decoration: none;
}

.new::after {
  content: "new";
  font-size: 13px;
  line-height: 21px;
  margin-left: 7px;
  margin-right: -22px;
  color: #fff;
  padding: 5px 11px;
  border-radius: 15px;
  background-color: #f64775;
}

.btn-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 54px;
  line-height: 54px;
  font-size: 18px;
}

.btn-login {
  display: block;
  box-sizing: border-box;
  height: 100%;
  width: 94px;
  border: 2px solid #f8f4f4;
  border-radius: 8px;
  color: #141414;
  text-align: center;
}

.btn-trial {
  display: block;
  box-sizing: border-box;
  height: 100%;
  width: 153px;
  color: #fff;
  background-color: #0099ff;
  border-radius: 8px;
  text-align: center;
}

.burger {
  display: none;
}

.nav-burger {
  display: none;
}

/***********************/
/*Main container*/
.container {
  max-width: 1240px;
  margin: auto;
}

/**********************/
/*Intro*/
.intro {
  margin: 0 auto 90px;
}

.title {
  font-size: 120px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 110px;
  text-align: center;
  max-width: 900px;
  margin: 0 auto 73px;
}

.slogan {
  font-size: 26px;
  line-height: 36.5px;
  text-align: center;
  margin: 0 auto 30px;
  max-width: 509px;
}

.subcribe-form {
  display: flex;
  max-width: 456px;
  margin: 0 auto 42px;
}
.subcribe-form__input {
  flex-basis: 64%;
  border: 2px solid #0099ff;
  padding: 18px 10px;
  background-color: transparent;
}
.subcribe-form__input::placeholder {
  font-size: 20px;
  line-height: 28px;
  color: #b2b2b2;
  vertical-align: center;
}
.subcribe-form__btn {
  flex-basis: 36%;
  font-size: 20px;
  line-height: 28px;
  color: #fff;
  text-align: center;
  vertical-align: top;
  height: 62px;
  border: none;
  border-radius: 0 8px 8px 0;
  background-color: #0099ff;
  padding: 15px 17px 15px 15px;
  margin: 0;
}

/*************************/
.teams {
  max-width: 1180px;
  margin: auto;
}
.teams__text {
  font-size: 20px;
  line-height: 28px;
  color: #b2b2b2;
  text-align: center;
  margin-bottom: 9px;
}

.team-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0 30px;
}
.team-list__item {
  width: 160px;
  height: 120px;
  object-position: top;
  object-fit: cover;
}

/*Presentation*/
.presentation {
  margin-bottom: 189px;
}

.presentation__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 56px;
  letter-spacing: 1.35px;
  text-align: center;
  margin: 0 auto 30px;
}

.video {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 860px;
  margin: auto;
}

.video > video {
  width: 100%;
  height: 100%;
}

.video-control {
  position: absolute;
  left: calc(0% + 258px);
  bottom: calc(0% - 30px);
  box-sizing: border-box;
  font-size: 18px;
  line-height: 20px;
  text-align: left;
  background-color: #fff;
  border-radius: 40px;
  box-shadow: 0 7px 10px rgba(186, 193, 197, 0.2);
  margin: auto;
  padding: 24px 45px 26px 65px;
  width: 361px;
}
.video-control__icon {
  position: absolute;
  width: 30px;
  height: 30px;
  left: calc(0% + 20px);
  top: calc(0% + 20px);
}
.video-control__btn {
  font-size: 18px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
}

/*************************/
/*Opportunities*/
.opportunities {
  max-width: 1240px;
  display: flex;
  flex-direction: column;
  gap: 160px;
  margin-bottom: 139px;
}

.opportunity {
  display: flex;
  justify-content: space-between;
  max-width: 1160px;
  padding: 0 40px;
}
.opportunity__text-wrapper {
  max-width: 430px;
  padding-right: 13px;
  padding-top: 39px;
}
.opportunity__name {
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 15px;
}
.opportunity__title {
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 2px;
  margin: 0;
  margin-bottom: 23px;
}
.opportunity__text {
  font-size: 22px;
  line-height: 31px;
  margin-bottom: 40px;
}
.opportunity__link {
  font-size: 18px;
  font-weight: bold;
  color: #333333;
  padding: 15px 17px 19px 22px;
  border-radius: 8px;
  border: 2px solid #f8f4f4;
}
.opportunity__img-wrapper {
  width: 677px;
  padding-top: 50px;
}
.opportunity__img {
  width: 100%;
  object-fit: cover;
  margin-bottom: 6px;
}
.opportunity__img-text {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: rgba(14, 16, 22, 0.4);
}

.opportunity:nth-child(2n) {
  flex-direction: row-reverse;
}

.green {
  color: #0c9f64;
}

.yellow {
  color: #fec104;
}

/********************************/
/*Join*/
.join {
  max-width: 1240px;
  margin-bottom: 40px;
}
.join__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #202e78;
  color: #fff;
  border-radius: 20px;
  padding-top: 70px;
  padding-bottom: 44px;
}
.join__logo {
  width: 80px;
  height: 80px;
  object-fit: cover;
  text-align: center;
  margin-bottom: 24px;
}
.join__title {
  font-size: 56px;
  font-weight: bold;
  line-height: 64px;
  text-align: center;
  margin-bottom: 25px;
  letter-spacing: 1.5px;
  width: 376px;
}
.join__text {
  font-size: 22px;
  line-height: 31px;
  text-align: center;
  margin-bottom: 67px;
}
.join__link {
  font-size: 18px;
  color: #f4f6f8;
  background-color: transparent;
  border: 2px solid #f8f4f4;
  border-radius: 8px;
  padding: 15px 21px 17px;
  margin-bottom: 38px;
}
.join__feedback {
  display: flex;
  max-width: 1160px;
  margin: auto;
  border-radius: 8px 20px 20px 8px;
  overflow: clip;
}
.join__person-img-wrapper {
  max-width: 580px;
  max-height: 520px;
}
.join__person-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.join__feedback-wrapper {
  box-sizing: border-box;
  max-width: 580px;
  padding: 40px;
  background-color: #000639;
}
.join__feedback-logo {
  max-width: 129px;
  margin-bottom: 39px;
}
.join__feedback-text {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 30px;
  line-height: 36px;
  color: #fff;
  margin-bottom: 21px;
  max-height: 144px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.join__feedback-meta {
  font-size: 22px;
  line-height: 31px;
  margin-bottom: 80px;
}
.join__author-link {
  font-size: 18px;
  line-height: 20px;
  color: #f4f6f8;
  background-color: transparent;
  border: 2px solid #f8f4f4;
  border-radius: 8px;
  padding: 15px 20px 16px;
}

.swiper {
  position: relative;
  width: 100%;
  margin: auto;
  overflow: visible;
  overflow-x: hidden;
}

.swiper-slide {
  font-size: 18px;
  display: flex;
  margin-bottom: 57px;
}

.swiper-pagination-bullet {
  background-color: #fff;
  border-radius: 0;
  width: 14px;
  height: 14px;
}

/***************************/
.templates {
  margin-bottom: 140px;
}
.templates__container {
  background-color: #181818;
  border-radius: 20px;
  padding-top: 70px;
  overflow-x: hidden;
}
.templates__title {
  font-size: 58px;
  line-height: 64px;
  color: #fff;
  text-align: center;
  max-width: 708px;
  margin: 0 auto 24px;
}
.templates__title::before {
  content: "new";
  display: block;
  font-weight: normal;
  max-width: 30px;
  font-size: 17px;
  line-height: 21px;
  margin-left: 7px;
  margin-right: -22px;
  color: #fff;
  padding: 1px 15px 4px;
  border-radius: 15px;
  background-color: #f64775;
  margin: 0 auto 16px;
}
.templates__text {
  font-size: 22px;
  line-height: 31px;
  color: #f4f3f3;
  text-align: center;
  margin-bottom: 69px;
}
.templates__link {
  display: block;
  box-sizing: border-box;
  max-width: 212px;
  padding: 18px 20px 17px;
  color: #fff;
  text-align: center;
  border-radius: 8px;
  background-color: #0099ff;
  margin: 0 auto 40px;
}
.templates__img-wrapper {
  max-width: 2191px;
  width: 100%;
  background-image: "../img/templates-img.png";
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 20px;
}

.rating {
  margin-bottom: 133px;
}
.rating__list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
.rating__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 620px;
  width: 100%;
}
.rating__logo-wrapper {
  max-width: 160px;
  margin-bottom: 20px;
}
.rating__logo {
  width: 100%;
  object-fit: cover;
}
.rating__rate {
  font-size: 82px;
  line-height: 115px;
  color: rgba(14, 16, 22, 0.95);
  margin-bottom: 14px;
}
.rating__img-wrapper {
  max-height: 60px;
  margin-bottom: 25px;
  object-fit: cover;
}
.rating__rate-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.rating__text {
  font-size: 20px;
  line-height: 28px;
  color: #0e1016;
}

.start {
  margin-bottom: 60px;
}
.start__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #3ca9ff;
  border-radius: 20px;
  padding: 60px 0 50px;
  color: #fff;
}
.start__img-wrapper {
  max-width: 200px;
  max-width: 200px;
  margin-bottom: 14px;
}
.start__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.start__title {
  max-width: 556px;
  font-size: 58px;
  line-height: 64px;
  text-align: center;
  margin-bottom: 25px;
}
.start__link {
  color: 18px;
  line-height: 20px;
  color: #fff;
  background-color: #000639;
  border-radius: 8px;
  padding: 14px 20px 17px;
  margin-bottom: 30px;
}
.start__tip-list {
  display: flex;
  max-width: 522px;
  gap: 34px;
  list-style: none;
}
.start__tip-item {
  position: relative;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}
.start__tip-item::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 14px;
  background-image: url("../img/tip-icon.svg");
  left: calc(0% - 18px);
  top: calc(0% + 5px);
}

.footer {
  margin-bottom: 60px;
}
.footer__container {
  padding: 20px 40px 0;
  background-color: #141414;
  border-radius: 20px;
}
.footer__main-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 69px;
}
.footer__trial-link {
  font-size: 15px;
  line-height: 20px;
  color: #fff;
  background-color: #0099ff;
  padding: 10px 15px 9px;
  border-radius: 8px;
}
.footer__links-container {
  display: flex;
  justify-content: space-between;
}
.footer__third-col {
  max-width: 222px;
}
.footer__fourth-col {
  max-width: 333px;
}
.footer__links-title {
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  margin-bottom: 23px;
}
.footer__product-links-list, .footer__pricing-links-list, .footer__learn-links-list, .footer__about-links-list, .footer__legal-links-list {
  list-style: none;
  margin-bottom: 40px;
}
.footer__links-item {
  font-size: 18px;
  margin-bottom: 23px;
  color: #778291;
}
.footer__links-text {
  font-size: 20px;
  line-height: 28px;
  color: #778291;
}
.footer__social-media-list {
  display: flex;
  gap: 8px;
  list-style-type: none;
}

.bold {
  font-weight: 700;
}/*# sourceMappingURL=style.css.map */