@font-face {
  font-weight: 400;
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-weight: 700;
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.ttf");
}
body {
  font-family: "Roboto";
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

h1, h2, h3, h4 {
  margin: 0;
}

button {
  background-color: transparent;
  border: none;
}

a {
  text-decoration: none;
}

.header {
  max-width: 1440px;
  display: flex;
  align-items: center;
  gap: 272px;
  padding: 19px 40px;
}

.logo {
  display: block;
}

.nav {
  max-width: 1100px;
  display: flex;
  height: 71px;
  justify-content: flex-start;
  align-items: center;
  gap: 118px;
}
.nav-list {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  list-style-type: none;
  gap: 46px;
  padding-bottom: 9px;
}
.nav-list__item {
  height: 24px;
}
.nav-list__link {
  font-size: 20px;
  line-height: 24px;
  color: #141414;
  text-decoration: none;
}

.new::after {
  content: "new";
  font-size: 13px;
  line-height: 21px;
  margin-left: 7px;
  margin-right: -22px;
  color: #FFF;
  padding: 5px 11px;
  border-radius: 15px;
  background-color: #F64775;
}

.btn-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  padding-bottom: 9px;
}

.btn-login {
  display: block;
  box-sizing: border-box;
  width: 97px;
  height: 54px;
  padding: 15px 22px 19px 22px;
  border: 2px solid #F8F4F4;
  border-radius: 8px;
  text-decoration: none;
  color: #141414;
  text-align: center;
}

.btn-trial {
  display: block;
  box-sizing: border-box;
  color: #FFF;
  width: 153px;
  height: 54px;
  padding: 14px 20px 20px 20px;
  background-color: #0099FF;
  border-radius: 8px;
  text-decoration: none;
  text-align: center;
}

.container {
  max-width: 1240px;
  margin: auto;
}

.intro {
  margin-bottom: 90px;
}

.title {
  font-size: 120px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 110px;
  text-align: center;
  max-width: 900px;
  margin: 0 auto 73px;
}

.slogan {
  font-size: 26px;
  line-height: 36.5px;
  text-align: center;
  margin: 0 auto 28px;
}

.subcribe-form {
  display: flex;
  max-width: 456px;
  margin: 0 auto 43px;
}
.subcribe-form__input {
  width: 277px;
  border: 2px solid #0099FF;
  padding: 18px 10px;
  background-color: transparent;
}
.subcribe-form__input::placeholder {
  font-size: 20px;
  line-height: 28px;
  color: #B2B2B2;
  vertical-align: center;
}
.subcribe-form__btn {
  font-size: 20px;
  line-height: 28px;
  color: #FFF;
  text-align: center;
  vertical-align: top;
  height: 62px;
  border: none;
  border-radius: 0 8px 8px 0;
  background-color: #0099FF;
  padding: 15px 17px 15px 15px;
  margin: 0;
}

.teams {
  max-width: 1180px;
  margin: auto;
}
.teams__text {
  font-size: 20px;
  line-height: 28px;
  color: #B2B2B2;
  text-align: center;
  margin-bottom: 9px;
}

.team-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  padding: 0 30px;
}
.team-list__item {
  width: 160px;
  height: 120px;
  object-position: top;
  object-fit: cover;
}

.presentation {
  margin-bottom: 60px;
}

.presentation__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 56px;
  letter-spacing: 1.5px;
  text-align: center;
  margin: 0 auto 30px;
}

.video {
  position: relative;
  background-image: url("../img/video.png");
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  max-width: 860px;
  height: 486px;
  margin: auto;
}

.video > video {
  width: 100%;
  height: 100%;
}

.video-control {
  position: absolute;
  left: calc(0% + 250px);
  bottom: calc(0% - 30px);
  font-size: 18px;
  line-height: 20px;
  text-align: left;
  background-color: #FFF;
  border-radius: 40px;
  box-shadow: 0 7px 10px rgba(186, 193, 197, 0.2);
  margin: auto;
  padding: 24px 45px 26px 65px;
}
.video-control__icon {
  position: absolute;
  width: 30px;
  height: 30px;
  left: calc(0% + 20px);
  top: calc(0% + 20px);
}
.video-control__btn {
  font-size: 18px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
}

.opportunities {
  max-width: 1240px;
}

.opportunity {
  display: flex;
  justify-content: space-between;
  max-width: 1160px;
  padding: 0 40px;
  margin-bottom: 139px;
}
.opportunity__text-wrapper {
  max-width: 430px;
  padding-right: 13px;
  padding-top: 39px;
}
.opportunity__name {
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 15px;
}
.opportunity__title {
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 2px;
  margin: 0;
  margin-bottom: 23px;
}
.opportunity__text {
  font-size: 22px;
  line-height: 31px;
  margin-bottom: 40px;
}
.opportunity__link {
  font-size: 18px;
  font-weight: bold;
  color: #333333;
  padding: 15px 17px 19px 22px;
  border-radius: 8px;
  border: 2px solid #F8F4F4;
}
.opportunity__img-wrapper {
  width: 677px;
  padding-top: 50px;
}
.opportunity__img {
  width: 100%;
  object-fit: cover;
  margin-bottom: 8px;
}
.opportunity__img-text {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: rgba(14, 16, 22, 0.4);
}

.opportunity:nth-child(1) {
  margin-bottom: 157px;
}

.green {
  color: #0C9F64;
}

.yellow {
  color: #FEC104;
}

.join {
  max-width: 1240px;
}
.join__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #202E78;
  color: #FFF;
  border-radius: 20px;
  padding-top: 70px;
  padding-bottom: 51px;
}
.join__logo {
  width: 80px;
  height: 80px;
  object-fit: cover;
  text-align: center;
  margin-bottom: 24px;
}
.join__title {
  font-size: 56px;
  font-weight: bold;
  line-height: 64px;
  margin-bottom: 25px;
  letter-spacing: 1.5px;
  width: 376px;
}
.join__text {
  font-size: 22px;
  line-height: 31px;
  text-align: center;
  margin-bottom: 67px;
}
.join__link {
  font-size: 18px;
  color: #F4F6F8;
  background-color: transparent;
  border: 2px solid #F8F4F4;
  border-radius: 8px;
  padding: 15px 21px 17px;
  margin-bottom: 40px;
}
.join__feedback {
  display: flex;
  padding: 0 40px 0;
}
.join__person-img-wrapper {
  max-width: 580px;
  border-radius: 20px 0 0 20px;
}
.join__person-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.join__feedback-wrapper {
  box-sizing: border-box;
  max-width: 580px;
  padding: 40px;
  background-color: #000639;
  border-radius: 0 20px 20px 0;
}
.join__feedback-logo {
  max-width: 129px;
  margin-bottom: 39px;
}
.join__feedback-text {
  font-size: 30px;
  line-height: 36px;
  color: #FFF;
  margin-bottom: 21px;
}
.join__feedback-meta {
  font-size: 22px;
  line-height: 31px;
  margin-bottom: 79px;
}
.join__author-link {
  font-size: 18px;
  line-height: 20px;
  color: #F4F6F8;
  background-color: transparent;
  border: 2px solid #F8F4F4;
  border-radius: 8px;
  padding: 15px 22px 19px;
}

.swiper {
  position: relative;
  width: 1160px;
  margin: auto;
  overflow: visible;
  overflow-x: hidden;
}

.swiper-slide {
  font-size: 18px;
  display: flex;
}

.swiper::-webkit-scrollbar {
  width: 0;
}

.swiper-pagination-bullet {
  background-color: #FFF;
}

.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: -35px;
}/*# sourceMappingURL=style.css.map */